asgiref==
attrs==
certifi==
charset-normalizer==
Django==
django-background-tasks==
django-cleanup==
django-compat==
django-cors-headers==
django-dotenv==
django-filter==-rest-framework==
djangorestframework==
djangorestframework-simplejwt==
drf-spectacular==
drf-standardized-errors==
idna====
jsonschema==
jsonschema-specifications==
pillow==
PyJWT==
pytz====
referencing==
requests==
rpds-py==
six==
sqlparse==
uritemplate==
urllib3==
